<form action="/users" method="post">
  <input type="text" name="email" placeholder="email">
  <input type="text" name="username" placeholder="username">
  <input type="password" name="password" placeholder="password">
  <!-- make this bit validate if passwords are the same -->
  <input name="authenticity_token" value="<%= form_authenticity_token() %>" type="hidden">
  <button>Create account</button>
</form>